<style>
    nav{
        display: flex;
        justify-content: space-around;
        background-color: black;
        color: white;
        padding: 10px;
    }
    nav a{
        color:white;
        text-decoration: none;
    }
    nav a.active{
        color:red;
    }
</style>
<nav>
<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contador</a>
<a routerLink="/hero" routerLinkActive="">Hero</a>
<a routerLink="/dragonball" routerLinkActive="">DragonBall</a>
<a routerLink="/dragonball-super" >DragonBal Super</a>
</nav>
