<div class="flex flex-row">
    <label class="text-black font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 " value="">
       <input type="checkbox" (change)="cambioVista($event)" >Masonry
    </label>
</div>
@if (masonry()) {
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        @for (block of this.GifsBlocks(); track block) {
          <div class="grid gap-4">
            @for (item of block; track item.id) {                
                <div>
                    <img class="h-full w-full rounded-lg object-cover" [src]="item.url">
                </div>
            }
          </div>
        }
      </div>
    }
@else {
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        @for (item of gifs(); track item) {
            <gifs-list-item [imageUrl]="item.url"></gifs-list-item> 
        }
    </div>
}